*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body
{
    color: white;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    background:transparent;
    display: flex;
    justify-self: space-between;
    align-items: center;
    z-index: 100;
}
.logo
{
    position: relative;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}
.navbar a
{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left:35px;
    transition: .3s;
}
